body,
html,
h1 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
/* Style for the video container */
.video-container {
  position: relative;
  width: 50vw;
  height: 50vh;
  overflow: hidden;
}

/* The black overlay */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  transition: 0.5s ease;
}

/* The video element */
video {
  position: absolute;
  object-fit: fill;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
}
.spacedButtons {
  padding: 10px;
}
